body {
    margin: 0;
    box-sizing: border-box;
    background-color: #ffffff; }
    body h1, body .h1 {
      color: #e27448;
      font-family: "DynaPuff", cursive; }
    body h4, body .h4 {
      color: #e27448;
      font-family: "DynaPuff", cursive; }
  

  /*HEADER AND FOOTER COLORS*/
  .navbar, footer {
    background-color: #0dd1a0; }

  /*---------PRODUCTOS--------*/
  .container {
    padding: 20px; }
  
  .card {
    background-color: white;
    transition: all .2s ease-in-out; }
  
  .card:hover {
    transform: scale(1.1); }
 /*ASIDE*/
.informacion {
    text-align: center; }
    .informacion div h1, .informacion div .h1 {
      padding-top: 1rem; }
      /*---------VETERINARIA--------*/
.banner {
  background-image: url(../imagenes/items/banner_veterinaria.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 25em;
  position: relative; }
  .banner div {
    max-height: 15em;
    max-width: 600px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    right: 10%;
    color: white;
    background-color: #e599fc;
    padding: 20px; }
    .banner div h1, .banner div .h1 {
      color: white; }

.Banner_Ofrecemos {
  max-width: 95%;
  max-height: auto;
  color: white;
  background-color: #e599fc;
  padding: 20px; }
  .Banner_Ofrecemos h4, .Banner_Ofrecemos .h4 {
    color: white; }

.sector_preguntas {
  max-width: 95%; }


  /*media queries*/
@media screen and (max-width: 480px) {
  /*---------VETERINARIA--------*/
  .banner {
    background-image: url(../imagenes/items/banner_veterinaria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
    position: relative; }
    .banner div {
      max-height: 20em;
      max-width: 600px;
      border-radius: 10px;
      position: absolute;
      top: 20%;
      width: auto;
      margin-left: 40px;
      color: white;
      background-color: #e599fc;
      padding: 20px; }
      .banner div h1, .banner div .h1 {
        color: white; }
  .Banner_Ofrecemos {
    max-width: 95%;
    max-height: auto;
    color: white;
    background-color: #e599fc;
    padding: 20px; }
    .Banner_Ofrecemos h4, .Banner_Ofrecemos .h4 {
      color: white; }
  .sector_preguntas {
    max-width: 95%; }
}
@media screen and (max-width: 575px) {
  /*PRODUCTOS*/
  #ContenedorProductos {
    margin: 0;
    padding: 0; }
  }
@media only screen and (min-width: 481px) and (max-width: 767px) {
/*----Veterinaria-----*/
  /*banner*/
  .banner {
    background-image: url(../imagenes/items/banner_veterinaria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 25em;
    position: relative; }
    .banner div {
      max-height: 20em;
      max-width: 600px;
      border-radius: 10px;
      position: absolute;
      top: 20%;
      width: auto;
      margin-left: 40px; }
      .banner div h1, .banner div .h1 {
        color: white; }

      }